.prepend-1.span-22.append-1.prepend-top
  .prepend-1.span-7.append-1
    .span-3<
      - if @user == current_user
        %p= link_to user_defined_image(@user, :large, :alt => "#{h @user.login}"), home_path
      - else
        -# TODO link_to original size?
        %p= user_defined_image(@user, :large, :alt => "#{h @user.login}")
    .span-4.prepend-top.last<
      %h3.center=h @user.login

    %br(clear="both")

    - unless @user.profile.name.blank?
      %h6.quiet= h @user.profile.name
    - unless @user.profile.location.blank?
      %h6.quiet= h @user.profile.location
      -# TODO write helper method for links and breadcrumbs ...
    - unless @user.profile.link.blank? or @user.profile.link == "http://"
      %h6.quiet= link_to(h(@user.profile.link), h(@user.profile.link), :target => "_blank") if @user.profile.link.include?("http://")
    %h5.quiet=h @user.profile.detail if @user.profile.detail

    %h5= link_to 'Settings', edit_account_path if current_user == @user
    - if current_user and !(@user == current_user)
      - unless current_user.friendships.exists?(:user_id => current_user, :friend_id => @user)
        = link_to image_tag('/images/icons/plus.png', :style => 'position:relative; top: 10px;'), friendships_path(:friend_id => @user), :method => :post
        = link_to "Friendship", friendships_path(:friend_id => @user), :method => :post

    -#= render 'shared/user_invitation'

    %h3.prepend-top<
      Cred
      %hr
    = user_cred_images(@user, :small)
    - if current_user and mutual_friendship?(@user, current_user) and can_exchange?(@user)
      - if mutual_friendship?(@user, current_user) and not ( @user == current_user or current_user.credit.beads.zero? )
        - form_for :credit, :url => {:controller => :credits, :action => :update}, :html => { :id => 'give_credit', :method => :put } do |f|
          .prepend-top.last
            = f.hidden_field :give_bead, :value => 1
            = f.hidden_field :user_id, :value => @user.id
            &nbsp; &nbsp; &nbsp;
            = submit_button 'Give a bead?', :lite => true
      - if user_one_follows_user_two?(current_user, @user) and not @user == current_user and not @user.credit.buttons.zero?
        - form_for :credit, :url => {:controller => :credits, :action => :update}, :html => { :id => 'give_credit', :method => :put } do |f|
          .prepend-top.last
            = f.hidden_field :borrow_button, :value => 1
            = f.hidden_field :user_id, :value => @user.id
            &nbsp; &nbsp; &nbsp;
            = submit_button 'Borrow a button?', :lite => true
    %br{:clear => :both}

    - if !@user.friendships.count.zero?

      %h3.prepend-top<
        Friends
        %hr
      - mutual_friendships(@user).each do |m|
        = link_to user_defined_image(m.friend, :thumb, :alt => m.friend.login, :title => m.friend.login), profile_path(m.friend.login)

      - if @user == current_user
        %br{:clear => :both}
        %h3.prepend-top<
          Following
          %hr
        - current_user.friendships.each do |friendship|
          - unless friendship.friend.friendships.exists?(:friend_id => current_user)
            = link_to user_defined_image(friendship.friend, :thumb, :alt => h(friendship.friend.login), :title => h(friendship.friend.login)), profile_path(h(friendship.friend.login))

        %br{:clear => :both}
        %h3.prepend-top<
          Followers
          %hr
        - current_user.inverse_friends.each do |inverse_friendship|
          - unless current_user.friendships.exists?(:friend_id => inverse_friendship)
            = link_to user_defined_image(inverse_friendship, :thumb, :alt => h(inverse_friendship.login), :title => h(inverse_friendship.login)), profile_path(h(inverse_friendship.login))
      - if current_user && current_user.friendships.exists?(:user_id => current_user, :friend_id => @user)
        %p.prepend-top<
          = link_to "Friendship", friendship_path(@user), :method => :delete, :confirm => 'Remove friendship?'
          = link_to image_tag('/images/icons/blue_arrows.png', :style => 'position:relative; top: 10px;'), friendship_path(@user), :method => :delete, :confirm => 'Remove friendship?'
      %br
      %br
      %br
  .span-12.append-1.prepend-top.last#verify
    - if @user.groups.count.zero? and @user == current_user
      %h3.prepend-top<
        Groups
        %hr
      %h3= link_to "Create or join a group!", groups_path
    - elsif !@user.groups.count.zero?
      %h3.prepend-top.profile_verify<
        Groups
        %hr
      - @user.groups.reverse.each do |g|
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_path(g), :class => 'user-image'
        - if g.memberships.find_by_user_id_and_interest(current_user, true)
          = image_tag '/images/icons/silk/vcard.png', :alt => 'Voter', :title => 'Voter', :style => "position: relative; bottom: 38px; right: 52px"
        - else
          = image_tag '/images/icons/silk/magnifier.png', :alt => 'Watching', :title => 'Watching', :style => "position: relative; bottom: 36px; right: 54px"

    - if !@awards.length.zero?
      %h3.prepend-top.profile_verify<
        Awards
        %hr
      - @awards.each do |g|
        - if g.class.name.eql?('Blitz')
          = link_to image_tag('/images/icons/blitz_48.png', :alt => h(g.name), :title => h(g.name), :style => "position: relative; margin-right: 16px"), blitz_path(g), :class => 'user-image'
        - else
          = link_to user_defined_image(g.group, :small, :alt => "#{h g.group.name} : #{h g.name}", :title => "#{h g.group.name} : #{h g.name}", :style => "position: relative; margin-right: 16px"), group_grant_path(g.group, g), :class => 'user-image'

    - if !@session.length.zero?
      %h3.prepend-top.profile_verify<
        Sessions
        %hr
      - @session.each do |g|
        - if g.class.name.eql?('Blitz')
          = link_to image_tag('/images/icons/blitz_48.png', :alt => h(g.name), :title => h(g.name), :style => "position: relative; margin-right: 16px"), blitz_path(g), :class => 'user-image'
        - else
          = link_to user_defined_image(g.group, :small, :alt => "#{h g.group.name} : #{h g.name}", :title => "#{h g.group.name} : #{h g.name}", :style => "position: relative; margin-right: 16px"), group_grant_path(g.group, g), :class => 'user-image'

    - if current_user == @user
      - if !@writeboard.length.zero?
        %h3.prepend-top.profile_verify<
          .flr{:style => "font-size: 12px; color: #888; position: relative; top: 4px;"} (private view)
          Writeboard
          %hr
      - @writeboard.each do |g|
        - if g.class.name.eql?('Blitz')
          = link_to image_tag('/images/icons/blitz_48.png', :alt => h(g.name), :title => h(g.name), :style => "position: relative; margin-right: 16px"), blitz_path(g), :class => 'user-image'
        - else
          = link_to user_defined_image(g.group, :small, :alt => "#{h g.group.name} : #{h g.name}", :title => "#{h g.group.name} : #{h g.name}", :style => "position: relative; margin-right: 16px"), group_grant_path(g.group, g), :class => 'user-image'
    %br
    %br
    %br

