= render 'groups/header', :group => @group = find_group(params[:group_id]) || Group.find(params[:payment][:group_id]) || Group.find_by_permalink(session[:group_permalink])
.span-24.prepend-top
  .span-20.prepend-2.append-2.prepend-top.last
    .span-10
      %h3== Group Voting and Writing Dues are #{number_to_currency(Payment::AMOUNT, :precision => 2)}
      .quiet== Contributes #{number_to_currency(Payment::AMOUNT, :precision => 2)} to the Group Fund (non refundable)
      .prepend-1.prepend-top= link_to image_tag("http://g-ecx.images-amazon.com/images/G/01/cba/b/sg3.jpg"), new_payment_path

    - if watching?(@group.id, current_user)
      .span-10.last
        %p &nbsp;
    - else
      .span-10.last
        %h3 Watch Group Activity
        %p
          - form_for :membership, :url => { :controller => :memberships, :action => :create } do |f|
            = submit_button "Watch Group", :lite => true
  .span-22.prepend-1.last{:style => "margin-bottom: 3em"}
    =# render 'shared/payment'


