%div.prepend-top.rounded-box.rounded-box-medium.centered
  %div
    %div
      %div.rounded-box-largefont
        %h2.prepend-1.prepend-top New Comment
        
        .clear.large
          - form_for [@commentable, Comment.new] do |f|
            = f.error_messages
            .form_row
              = f.text_area :content
              = f.hidden_field :user_id, :value => current_user.id
              %p= submit_button "Say it"
          .form-space
          %br

