
legend
  :padding .4em 1em

label
  :width 10em
  :float left
  :text-align right
  :margin-right 1.4em
  :display block

.form_row
  :white-space nowrap
  :padding-bottom 0.4em

button
  :border none
  :background none
  :padding 0
  :margin 0
  :width auto
  :overflow visible
  :text-align center
  :white-space nowrap
  :height 29px
  :line-height 29px
  :cursor pointer

button span, button em, button.lite span, button.lite em
  :display block
  :height 29px
  :line-height 29px
  :margin 0

button span
  :padding-left 12px
  :background url('/images/button.png') 0px 0px no-repeat

/*button span.lite-span
  /*:padding-left 12px
  /*:background url('/images/button.png') 0px 80px no-repeat

button.lite span
  :padding-left 12px
  :background url('/images/button.png') 0px -80px no-repeat

button em
  :font-size 12pt
  :font-style normal
  :font-weight normal
  :color #ededed
  :padding-right 12px
  :background url('/images/button.png') 100% 0px no-repeat

button.lite em
  :color #222
  :font-size 12pt
  :font-style normal
  :font-weight normal
  :padding-right 12px
  :background url('/images/button.png') 100% -80px no-repeat

.buttonless_field
  :background url('/images/search_glass_gray.png') 5px 5px no-repeat
  :padding-left 23px !important

textarea#status_update_field
  :width 538px
  :height 42px
  :border 3px solid #cccccc
  :padding 5px
  :font-size 14px

input.invitation_email_text
  :background #FFF

input.invitation_email_text:focus
  :background #FFF
  :border 1px solid #bbb

button#invitation_submit
  :background url('/images/submit_btn.jpg') no-repeat top left
  :width 134px
  :height 43px
  :display block
  :text-indent -8888px
  :font-size 0px !important
  :border 0
  :margin -42px 0px 0px 280px
  :outline 0
  :cursor pointer
  &:focus
    :background url('/images/submit_btn_hvr.jpg') no-repeat top left
    :outline none


h2.email
  :float left
  :text-align left
  :margin -4px 0px 4px 0px
  :display inline
  :font-size 18px
  :padding 10px 3px 3px 0px
  :color #003366

ul.invitations
  :margin 0
  :padding 0

ul.invitations li
  :list-style none
  :margin 5px 5px 5px 0px

ul.invitations li span
  :min-width 170px
  :height 20px
  :background #eee
  :margin 1px
  :display inline-block
  :text-align center
  :padding 4px

ul.invitations li span.title
  :background #ccc
  :font-weight bold
  :text-transform uppercase

.form-space
  :margin-bottom 20px

.rounded-box-largefont
  div.quiet
    :width 80%
    :margin 0px 0px 0px 46px
  form
    :margin 0px 20px 0px 46px
    :width 80%
    p
      :width 440px
      :padding 0px 0px 0px 0px
      :margin 0px 0px 0px 0px
    label
      :margin 0px 0px 0px 0px
      :float none
      :text-align left
      :width 100px
    label.left
      :float left
      :width 100px
    input, input:focus, input.error
      :margin 0px 0px 4px 0px
      :padding 4px 0px 0px 0px
      :width 300px
      :float none
      :height 23px
      :line-height 25px
      :border 1px solid #ccc
    input#blitz_media
      :width 400px

.rounded-box-mediumfont
  :font-size 14px
  form
    :margin 0px 20px 0px 46px
    :width 80%
    p
      :width 440px
      :padding 0px 0px 0px 0px
      :margin 0px 0px 0px 0px
    label
      :margin 5px 10px 0px 0px

    input, input:focus
      :margin 0px 0px 4px 0px
      :padding 4px 0px 0px 0px
      :height 23px
      :line-height 25px
    button
      :clear both
      :margin 0px 0px 0px 150px


#change_profile_info

#change_login_and_email, #change_password, #change_profile_info_link
  :display none

input#email_invitation
  :background none
  :color #333
  :padding 5px
  :border 1px solid #bbb
  :width 200px

label.error
  :background none
  :border none
  :padding 0

