body {
  background: url('/images/body_bg.png') 0 0 repeat-x;
  background-color: #ededed; }

a, a:focus, button:focus, input:focus, textarea:focus {
  outline: none; }

a.homepage.userlink {
  text-decoration: none; }
  a.homepage.userlink:hover {
    text-decoration: underline; }

button::-moz-focus-inner {
  border: 0; }

h2 {
  color: #82b039; }

h1.logo a {
  width: 310px;
  height: 97px;
  background: url('/images/logo.jpg') 0 0 repeat-x;
  display: block;
  text-indent: -8888px;
  margin: 5px 0px 0px 13px;
  float: left; }

#header {
  position: relative;
  background: url('/images/header_bg.png') 0 0 repeat-x;
  height: 117px;
  color: #ededed; }

a.rounded, div.pagination a {
  outline: none;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  display: -moz-inline-box;
  overflow: visible; }

.nav {
  color: #ededed; }
  .nav #login a {
    color: #ededed;
    text-decoration: none;
    background-color: #004B73; }
    .nav #login a:hover {
      border-bottom: 1px solid #d1e1ea; }
  .nav p {
    color: #004B73;
    background-color: #d1e1ea;
    padding: 2px 4px; }
  .nav #nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav #nav-list li {
    float: left;
    margin: 0 0.2em;
    list-style: none; }
  .nav #nav-list li a {
    color: #ededed;
    background-color: #004B73;
    font-size: 14pt;
    line-height: 1em;
    float: left;
    display: inline;
    text-decoration: none;
    text-align: center;
    padding: 3px; }
    .nav #nav-list li a:hover {
      border-bottom: 2px solid #d1e1ea; }

#content {
  background: white;
  padding-bottom: 60px;
  min-height: 400px;
  height: auto !important; }

#footer {
  min-height: 80px; }

#splash {
  background: #EAFFD6;
  border: 1px solid #97AD71; }

.activity {
  min-height: 48px; }

.time_ago {
  font-size: 9px;
  color: #353535; }

.cred {
  border-top: 1px solid #888; }


.flr {
  float: right; }

.fll {
  float: left; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.status_update {
  font-size: 15px; }
  .status_update hr {
    color: white;
    background-color: white;
    border-bottom: 1px dashed #bdbdbd;
    padding-top: 4px; }

.border-test {
  border: 1px solid #999;
  padding: 4px; }

#group_members {
  position: relative;
  top: -60px;
  background-color: #ededed;
  border: 1px solid #ccc; }

#verify a img {
  padding: 0;
  margin-right: -3px; }

h3.profile_verify {
  position: relative;
  left: -10px; }

#join_panel {
  /* :background-color #f3f3f3 */ }

#green {
  width: 940px;
  min-height: 300px;
  background: url('/images/green_mid_rpt.jpg') 0 0 repeat-y;
  margin: 30px 0px 0px 27px; }

#green-top {
  background: url('/images/green_mid_top.jpg') 0 0 no-repeat;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px;
  float: left; }

#green-bottom {
  clear: both;
  background: url('/images/green_mid_btm.jpg') no-repeat bottom left;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 50px 0px; }

.tbs {
  margin: 40px auto 40px auto; }

div.rounded-box, div.rounded-box div {
  background: url('/images/rounded.jpg'); }

div.rounded-box-header, div.rounded-box-header div {
  background: url('/images/rounded_large.jpg'); }

div.rounded-box, div.rounded-box-header {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 1%; }

.rounded-box-image {
  width: 330px;
  text-align: center; }

.rounded-box-small {
  width: 400px; }

.rounded-box-smaller {
  width: 370px; }

.rounded-box-medium {
  width: 530px; }

.rounded-box-medium2 {
  width: 600px; }

.rounded-box-full {
  width: 775px; }

.rounded-box-full-header {
  width: 930px; }

div.rounded-box div, div.rounded-box-header div {
  margin: 0px 0px 0px 13px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0px 0px 13px 0px;
  width: auto; }

div.rounded-box div div, div.rounded-box-header div div {
  background-position: top right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

div.rounded-box div div div, div.rounded-box-header div div div {
  margin: 0px 13px 0px -13px;
  background-position: top left;
  padding: 13px 0px 0px 13px; }

div.rounded-box div div div div, div.rounded-box-header div div div div {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: none;
  background-image: none;
  background-position: top left;
  background-repeat: repeat;
  background-color: transparent;
  width: 100%; }

.rwide {
  background: url('/images/light_blue_mid.jpg') repeat top left;
  height: 290px;
  width: 900px; }

.rwide-left {
  background: url('/images/light_blue_left.jpg') no-repeat top left;
  height: 290px;
  width: 20px;
  display: block;
  float: left;
  width: 870px; }

.rwide-right {
  background: url('/images/light_blue_right.jpg') no-repeat top right;
  height: 290px;
  width: 20px;
  display: block;
  float: right; }

.group-details {
  margin: 10px 0px 0px 0px; }

.group-image {
  padding: 10px 0px 0px 20px;
  float: left; }

.centered {
  position: relative;
  margin: 40px auto 30px auto!important; }

.centered2 {
  margin: 4px auto 20px auto; }

.fancy_type {
  color: #222;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 17px;
  font-style: italic;
  font-weight: bold; }

a:hover {
  color: blue;
  background-color: #FFF79F; }

a.user-image {
  outline: none;
  background: none; }

a.group_header {
  color: #82B039;
  text-decoration: none;
  underline: none; }
  a.group_header:hover {
    color: blue;
    background-color: #FFF79F;
    border-bottom: 1px dotted blue; }

legend {
  padding: .4em 1em; }

label {
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 1.4em;
  display: block; }

.form_row {
  white-space: nowrap;
  padding-bottom: 0.4em; }

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  height: 29px;
  line-height: 29px;
  cursor: pointer; }

button span, button em, button.lite span, button.lite em {
  display: block;
  height: 29px;
  line-height: 29px;
  margin: 0; }

button span {
  padding-left: 12px;
  background: url('/images/button.png') 0px 0px no-repeat; }

/* button span.lite-span
 * /*:padding-left 12px
 * /*:background url('/images/button.png') 0px 80px no-repeat */
button.lite span {
  padding-left: 12px;
  background: url('/images/button.png') 0px -80px no-repeat; }

button em {
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  color: #ededed;
  padding-right: 12px;
  background: url('/images/button.png') 100% 0px no-repeat; }

button.lite em {
  color: #222;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  padding-right: 12px;
  background: url('/images/button.png') 100% -80px no-repeat; }

.buttonless_field {
  background: url('/images/search_glass_gray.png') 5px 5px no-repeat;
  padding-left: 23px !important; }

textarea#status_update_field {
  width: 538px;
  height: 42px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-size: 14px; }

input.invitation_email_text {
  background: #FFF; }

input.invitation_email_text:focus {
  background: #FFF;
  border: 1px solid #bbb; }

button#invitation_submit {
  background: url('/images/submit_btn.jpg') no-repeat top left;
  width: 134px;
  height: 43px;
  display: block;
  text-indent: -8888px;
  font-size: 0px !important;
  border: 0;
  margin: -42px 0px 0px 280px;
  outline: 0;
  cursor: pointer; }
  button#invitation_submit:focus {
    background: url('/images/submit_btn_hvr.jpg') no-repeat top left;
    outline: none; }

h2.email {
  float: left;
  text-align: left;
  margin: -4px 0px 4px 0px;
  display: inline;
  font-size: 18px;
  padding: 10px 3px 3px 0px;
  color: #003366; }

ul.invitations {
  margin: 0;
  padding: 0; }

ul.invitations li {
  list-style: none;
  margin: 5px 5px 5px 0px; }

ul.invitations li span {
  min-width: 170px;
  height: 20px;
  background: #eee;
  margin: 1px;
  display: inline-block;
  text-align: center;
  padding: 4px; }

ul.invitations li span.title {
  background: #ccc;
  font-weight: bold;
  text-transform: uppercase; }

.form-space {
  margin-bottom: 20px; }

.rounded-box-largefont div.quiet {
  width: 80%;
  margin: 0px 0px 0px 46px; }
.rounded-box-largefont form {
  margin: 0px 20px 0px 46px;
  width: 80%; }
  .rounded-box-largefont form p {
    width: 440px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; }
  .rounded-box-largefont form label {
    margin: 0px 0px 0px 0px;
    float: none;
    text-align: left;
    width: 100px; }
  .rounded-box-largefont form label.left {
    float: left;
    width: 100px; }
  .rounded-box-largefont form input, .rounded-box-largefont form input:focus, .rounded-box-largefont form input.error {
    margin: 0px 0px 4px 0px;
    padding: 4px 0px 0px 0px;
    width: 300px;
    float: none;
    height: 23px;
    line-height: 25px;
    border: 1px solid #ccc; }
  .rounded-box-largefont form input#blitz_media {
    width: 400px; }

.rounded-box-mediumfont {
  font-size: 14px; }
  .rounded-box-mediumfont form {
    margin: 0px 20px 0px 46px;
    width: 80%; }
    .rounded-box-mediumfont form p {
      width: 440px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px; }
    .rounded-box-mediumfont form label {
      margin: 5px 10px 0px 0px; }
    .rounded-box-mediumfont form input, .rounded-box-mediumfont form input:focus {
      margin: 0px 0px 4px 0px;
      padding: 4px 0px 0px 0px;
      height: 23px;
      line-height: 25px; }
    .rounded-box-mediumfont form button {
      clear: both;
      margin: 0px 0px 0px 150px; }


#change_login_and_email, #change_password, #change_profile_info_link {
  display: none; }

input#email_invitation {
  background: none;
  color: #333;
  padding: 5px;
  border: 1px solid #bbb;
  width: 200px; }

label.error {
  background: none;
  border: none;
  padding: 0; }

.fieldWithErrors {
  display: block; }

#errorExplanation {
  font-size: large;
  border: 1px solid red;
  padding: 12px 7px 0px 7px;
  background-color: #f0f0f0;
  margin: 1em 1em 1em 0em;
  max-width: 500px; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 12px 5px 5px 15px;
    font-size: 12pt;
    margin: -7px;
    background-color: #c00;
    color: #fff;
    display: none; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
    display: none; }
  #errorExplanation ul li {
    font-size: 11pt;
    list-style: circle; }

div.pagination {
  padding: 3px;
  margin: 40px auto 40px auto;
  text-align: center;
  display: block;
  border: 0;
  /* :background-color #c9d9e1 */
  /* :background url(/images/pagination.jpg) no-repeat top left */ }
  div.pagination h3 {
    margin-bottom: 0em;
    /* :padding 10px 0px 10px 0px */
    padding: 16px 0px 10px 0px;
    border: 0; }
  div.pagination a {
    border: 1px solid #eee;
    margin-right: 3px;
    padding: 4px;
    background-color: #003f6d;
    background-position: bottom;
    text-decoration: none;
    color: #e2e9ec; }
    div.pagination a:hover {
      border: 1px solid #eee;
      background-image: none;
      /* :background-color #fff */
      background-color: #c9d9e1;
      color: #02293e; }
  div.pagination span.current_page {
    margin-right: 3px;
    padding: 2px 6px;
    font-weight: bold;
    color: #333; }
  div.pagination span.disabled_page {
    margin-right: 3px;
    padding: 2px 6px;
    color: #333; }
div.meneame a:active {
  border: 1px solid #eee;
  background-image: none;
  background-color: #fff;
  color: #02293e; }
