div.pagination {
  padding: 3px;
  margin: 40px auto 40px auto;
  text-align: center;
  display: block;
  border: 0;
  /* :background-color #c9d9e1 */
  /* :background url(/images/pagination.jpg) no-repeat top left */ }
  div.pagination h3 {
    margin-bottom: 0em;
    /* :padding 10px 0px 10px 0px */
    padding: 16px 0px 10px 0px;
    border: 0; }
  div.pagination a {
    border: 1px solid #eee;
    margin-right: 3px;
    padding: 4px;
    background-color: #003f6d;
    background-position: bottom;
    text-decoration: none;
    color: #e2e9ec; }
    div.pagination a:hover {
      border: 1px solid #eee;
      background-image: none;
      /* :background-color #fff */
      background-color: #c9d9e1;
      color: #02293e; }
  div.pagination span.current_page {
    margin-right: 3px;
    padding: 2px 6px;
    font-weight: bold;
    color: #333; }
  div.pagination span.disabled_page {
    margin-right: 3px;
    padding: 2px 6px;
    color: #333; }
div.meneame a:active {
  border: 1px solid #eee;
  background-image: none;
  background-color: #fff;
  color: #02293e; }
