.fancy_type {
  color: #222;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 17px;
  font-style: italic;
  font-weight: bold; }

a:hover {
  color: blue;
  background-color: #FFF79F; }

a.user-image {
  outline: none;
  background: none; }

a.group_header {
  color: #82B039;
  text-decoration: none;
  underline: none; }
  a.group_header:hover {
    color: blue;
    background-color: #FFF79F;
    border-bottom: 1px dotted blue; }
