.span-24.last
  .span-14.prepend-1.append-1.last(style="min-height: 250px")
    .prepend-1
      - @grants.each do |grant|
        %h3<
          .flr= link_to user_defined_image(grant.user, :small, :alt => h(grant.user.login), :title => h(grant.user.login)), "/#{h(grant.user.login)}"
          =h grant.name
        %h3(style="color: #609e17")== #{number_to_currency grant.amount, :precision => 0}
        .span-13.last
          - if !grant.media.blank?
            = simple_format grant.media
            .large= simple_format h(grant.proposal), :style => "text-align: justify; line-height: 2;"
          - else
            .large= simple_format h(grant.proposal), :style => "text-align: justify; line-height: 2;"
        %br(clear="both")
        %hr
    = will_paginate @grants

  .span-7.last
    .span-6.prepend-1.last#group_members
      - if @group.memberships.voters.count.zero?
        %br
        %h3= pluralize @group.memberships.members.count, "Member"
        - group_members(params[:id]).sort_by{rand}[0..17].each do |m|
          = link_to user_defined_image(m, :thumb, :alt => h(m.login), :title => h(m.login)), "/#{h(m.login)}"
      - else
        %br
        %div(style="position: relative; margin-left: -9px")
          %h3= pluralize @group.memberships.voters.count, "Voter"
          - group_voters(params[:id]).sort_by{rand}[0..17].each do |v|
            = link_to user_defined_image(v, :thumb, :alt => h(v.login), :title => h(v.login)), "/#{h(v.login)}"
      %br
      %br
    /.span-6.prepend-1.last(style='position:relative; top:-3em;')
    /==.flr= socialite(:url => group_url(@group), :title => "Grantvote &raquo; #{h @group.name}")
    .span-7.last#comments(style='position:relative; top:-2.5em;')
      - if current_user
        - if voter?(params[:id])
          .flr= link_to "Add Comment", new_group_comment_path(@group)
        - else
          .flr= link_to "Add Comment", new_group_membership_path(@group)
      %strong= pluralize @group.comments.count, "Comment"
      %hr
      .last<
        = render 'shared/comments', :comments => @comments
        %span(style="position:relative; bottom: 20px")= will_paginate @comments, :page_links => false, :param_name => :comments, :previous_label => '&laquo; Prev'

