.span-24.last
  .prepend-top
    .span-8.prepend-1{:style => "min-height: 160px"}
      - if controller.controller_name == "groups" and !group.nil?
        %h2= link_to user_defined_image(group, :display, :alt => "to group voting page", :title => "View Session"), group_grants_path(group)
      - elsif !group.nil?
        %h2= link_to user_defined_image(group, :display, :alt => "to group home page", :title => "View Group Homepage"), group_path(group)
      - else
        %h2 &nbsp;
    .span-14.append-1.last
      - if controller.controller_name == 'grants'
        %h2{:style => "padding-right: 40px"}=link_to(h(group.name), group_path(group), :class => "group_header")
      - else
        %h2{:style => "padding-right: 40px"}=link_to(h(group.name), group_grants_path(group), :class => "group_header")
      %h3{:style => "padding-right: 40px"}=h group.purpose
      .flr.prepend-top
        %h2{:style => "margin: 0 50px"}<
          == Group Funds #{number_to_currency(group.funds.floor, :precision => 0)}
%br{:style => "clear: both"}

-# Jesse experimenting with the form background
-#
  .rounded-box-header.rounded-box-full-header.centered
    %div
      %div
        %div
          - if controller.controller_name == "groups" and !group.nil?
            = link_to user_defined_image(group, :display, :alt => "to group voting page", :title => "View Session"), group_grants_path(group)
          - elsif !group.nil?
            = link_to user_defined_image(group, :display, :alt => "to group home page", :title => "View Group Homepage"), group_path(group)
          - else
            %h2 Nothing
          %h2=h group.name
          %h3=h group.purpose
          %h3.flr{:style => "margin: 0 50px"}
            == Pool #{number_to_currency(group.funds.floor, :precision => 0)}
      .clear

-# Katz work using gradient
-#
  .rwide.centered2
    .rwide-left
      .span-8
        - if controller.controller_name == "groups" and !group.nil?
          .group-image
            = link_to user_defined_image(group, :display, :alt => "to group voting page", :title => "View Session"), group_grants_path(group)
        - elsif !group.nil?
          .group-image
            = link_to user_defined_image(group, :display, :alt => "to group home page", :title => "View Group Homepage"), group_path(group)
        - else
          %h2 Nothing
      .span-14.last
        .group-details
          %h2=h group.name
          %h3=h group.purpose
          %h3.flr{:style => "margin: 0 50px"}
            == Pool #{number_to_currency(group.funds.floor, :precision => 0)}
    .rwide-right

