%h2.prepend-1.append-2 Group Voting Session
.span-21.prepend-2.append-1.last
  - @grants.each do |grant|
    - if show_grant?(grant)
      .span-14.append-1
        %h3<
          .flr= link_to user_defined_image(grant.user, :small, :alt=> "#{grant.user.login.capitalize}", :title => h(grant.user.login)), "/#{h(grant.user.login)}"
          = h grant.name
        %h3(style='color: #82b039;')== $#{grant.amount.to_i.to_s}
      .span-6.last
        = user_cred_images(grant.user, :small, true)
      .span-14.append-1(style="text-align: justify;")
        .large= simple_format h(grant.proposal), :style => "line-height: 2;"
      .span-5.last
        == <img alt="#{group_accessible_tally grant}" title="#{group_accessible_tally grant}" src="#{session_bar_chart_url(grant)}" />
        %p= render 'shared/vote', :grant => grant
      .span-21.prepend-top.last<
        %hr
.span-22.last<
  = will_paginate @grants

