.prepend-1.append-1.prepend-top
  %div.rounded-box.rounded-box-image.push-2
    %div
      %div
        %div
          %h3.prepend-top<
            = image_tag '/images/defaults/group_display.png'

  %div.rounded-box.rounded-box-medium.prepend-2.pull-2
    %div
      %div
        %div.rounded-box-largefont
          %h2.prepend-1.prepend-top New Group
          - form_for @group, :html => { :multipart => true } do |f|
            .large
              .prepend-1
                = f.error_messages 
              .form_row.prepend-top
                = f.label :name
                = f.text_field :name, :size => 20, :class=>'required'
              .form_row.prepend-top
                = f.label :purpose
                = f.text_field :purpose, :size => 50, :class=>'required'
              .form_row.prepend-top
                = f.label :photo
                = f.file_field :photo, :class=>'required'
              %br
              .prepend-4<
                = submit_button 'Create Group'
              %br
