.prepend-top
  %div.rounded-box.rounded-box-medium.centered
    %div
      %div
        %div.rounded-box-largefont
          %h5.prepend-1.prepend-top Grantvote helps you give and win financial support.
          %h2.prepend-1 Create your account!
          .clear.large
            - form_for @user, :url => account_path, :html => {:multipart => true} do |f|
              = f.error_messages
              .form_row
                = f.label :login
                = f.text_field :login
              .form_row
                = f.label :email
                = f.text_field :email
              .form_row
                = f.label :password
                = f.password_field :password
              .form_row
                = f.label "Confirm password"
                = f.password_field :password_confirmation
              %span(style="position:relative; top: 15px")= submit_button "Sign on"
              .form-space
              %br

