- comments.each do |c|
  .last
    .fll(style="padding-right: 14px; display: block;")<
      = link_to user_defined_image(c.user, :small, :alt => c.user.login), profile_path(c.user.login)
    .flr.time_ago(style='position:relative; top: 5px;')<
      = distance_of_time_in_words_to_now(c.created_at) + ' ago'
    %strong= link_to c.user.login, profile_path(c.user.login)
    %br
    = hreffer h(c.content), false
    - if c.user == current_user
      %br
      .flr= link_to image_tag('/images/icons/blue_arrows.png'), c, :method => :delete, :confirm => 'Delete comment?'
  %hr

