%h2 New Comment
- form_for [@commentable, Comment.new] do |f|
  %p
    = f.label :content
    %br
    = f.text_area :content
    = f.hidden_field :user_id, :value => current_user.id
  %p= f.submit "Add Comment"
