<div>
  <div id="debug">
    <h3 class="quiet"><a href="#" onclick="$('#env_debug_info').toggle();return false">
    env</a>
    <a href="#" onclick="$('#request_debug_info').toggle();return false">
    request</a></h3>
    <fieldset id="env_debug_info" class="debug_info" style="display: none">
      <legend>env</legend>
      <%= debug(request.env) %>
    </fieldset>
    <fieldset id="request_debug_info" class="debug_info" 
              style="display: none">
      <legend>request</legend>
      <%= debug(request) %>
    </fieldset>
  </div>
</div>
