- form_for :payment, :url => {:controller => "payments", :action => "create"} do |f|
  = f.error_messages
  .span-11
    #checkout
      %h5.center Card Information
      .form_row
        = f.label :first_name
        = f.text_field :first_name 
      .form_row
        = f.label :last_name 
        = f.text_field :last_name 
      .form_row
        = f.label :card_type 
        = f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] 
      .form_row
        = f.label :card_number 
        = f.text_field :card_number 
      .form_row
        = f.label :card_verification, "CVV" 
        = f.text_field :card_verification, :size => "6"
      .form_row
        = f.label :card_expires_on 
        = f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true 
      .form_row
        = f.label :amount, "$"
        = f.text_field :amount, :size => "6"
        = f.hidden_field :group_id, :value =>  params[:group_id].nil? ? params[:payment][:group_id] : find_group_id(params[:group_id])
      .prepend-8= f.submit "Process Order"
   
  .span-11.last
    %h5.center Billing Address
    .form_row
      = f.label :full_name
      = f.text_field :full_name
    .form_row
      = f.label :address_line_1
      = f.text_field :address_line_1
    .form_row
      = f.label :address_line_2
      = f.text_field :address_line_2 
    .form_row
      = f.label :city
      = f.text_field :city
    .form_row
      = f.label :state
      = f.text_field :state, :size => "8"
    .form_row
      = f.label :zipcode
      = f.text_field :zipcode, :size => "8"
    .form_row
      = f.label :country
      = f.text_field :country, :value => "US"

-# 
  .span-22.prepend-2.quiet.last{:style => "text-align: center"} 
    Your card number is not stored on our system.
