- if current_user and voter?(params[:group_id])
  - form_for :vote, :url => {:controller => "votes", :action => "create"} do |f|
    = f.radio_button :cast, "yea", :style => "position: relative; top: 2px"
    %strong.large.fancy_type Yea&nbsp;
    = submit_button "Vote"
    %strong.large.fancy_type &nbsp;Nay
    = f.radio_button :cast, "nay", :style => "position: relative; top: 2px"
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :group_id, :value => find_group_id(params[:group_id])
    = f.hidden_field :grant_id, :value => grant.id
    = f.hidden_field :blitz_id, :value => 0
- elsif current_user
  %span(style="position:relative; left: 4px;")<
    = link_to image_tag('/images/amazon_pay_now.gif'), :controller => :payments, :action => :new
- else
  .prepend-top
    &nbsp; &nbsp;
    = link_to 'Login', login_path
    or
    = link_to 'Sign up', new_user_path
    to vote.

