- unless current_user
  #green
    #green-top
    .prepend-1.prepend-top
      %br
      %br
      %h2.prepend-1.prepend-top{:style => "color: #222"} Grantvote helps people give and win financial support.
      .prepend-1.prepend-top
        %br
        .large{:style => "color: #444"} Enter your email address and we'll send you an invitation.  
        .prepend-top
          = render 'shared/invitation'
        %br
        %br
        %br
        .quiet We won't spam you or give your email to others.
        =# link_to "Grantvote Factsheet", root_path
        %br
        %br
        %br
    #green-bottom

-else
  You must be logged out to access this page

   
