.span-21.prepend-2.append-1.last
  = form.error_messages
  - if not @grant.name.blank?
    %h2.append-2 Edit Grant
  .span-11
    = form.text_field :name
    &nbsp; name
    %br
    %br
    = form.text_field :amount, :size => 4
    &nbsp; amount
    %br
    %br
    /.small.quiet== #{form.text_field :media} &nbsp; YouTube, Viddler, Vimeo
  .span-11.last
    = @grant.media if @grant.media
    = form.text_area :proposal

