.prepend-top
%div.rounded-box.rounded-box-medium.centered
  %div
    %div
      %div.rounded-box-largefont
        %h2.prepend-1.prepend-top Welcome back!
        .clear.large
          - form_for @user_session, :url => user_session_path do |f|
            %p
              = f.error_messages
            %p
              = f.label :login
              = f.text_field :login
            %p
              = f.label :password
              = f.password_field :password
            %p
              %strong Remember me
              = f.check_box :remember_me
            = submit_button "Log In"
            %br
            %span(style="position:relative; top: 12px;")= link_to "Forgot your password?", new_password_reset_path, :class => "small quiet"
            .form-space
            %br
            %br

