!!!
%html{ html_attrs }
  %head
    - if @page_title.nil?
      %title Grantvote
    - else
      %title= h(@page_title)
    %meta{ "http-equiv" => "content-type", :content => "text/xhtml; charset=utf-8" }
    %meta{ :name => 'description', :content => "Grantvote helps you give and win financial support." }
    %meta{ :name => 'keywords', :content => "grant, money, funding, writing, winning, giving, financial, resource, social, media, network, community, philanthropy" }
    %meta{ "http-equiv" => "imagetoolbar", :content => "no" }
    %meta{ :name => "distribution", :content => "all" }
    %meta{ :name => "robots", :content => "all" }
    %meta{ :name => "resource-type", :content => "document" }
    %meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
    <link rel="shortcut icon" href="http://www.grantvote.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="http://www.grantvote.com/favicon.ico" type="image/x-icon" />
    = stylesheet_link_tag 'blueprint/screen', {:media => "screen, projection"}
    = stylesheet_link_tag 'blueprint/print', {:media => "print"}
    <!-- [if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    = stylesheet_link_tag 'base'
    = javascript_include_tag :defaults, 'jquery.qtip', 'jquery.validate.pack'
    -# include jquery calls only on pages where the elements exist to avoid js errors
      -# if current_user and current_page?(:controller => 'profiles', :action => 'view', :permalink => "#{current_user.login}")
        -#= javascript_include_tag 'invitations'
      -# if current_user and current_page?(:controller => 'groups', :action=>'show')
        -#= javascript_include_tag 'comments'
      -#= javascript_include_tag 'jquery.bottomlesspagination'
  %body
    .container
      .span-24#header
        .span-8.append-4
          %h1.logo= link_to "Grantvote", root_path
        .span-10.append-2.prepend-top.nav.last
          %ul#nav-list.pull-2.prepend-top
            %li= link_to "Home", {:controller => 'home', :action => 'show'}
            %li= link_to "Groups", groups_path
            -# if controller.controller_name == 'grants'
              -#%li.active= link_to "Grants", grants_path
            -# else
              -# next line
            %li= link_to "Grants", grants_path
            %li= link_to "Blitz", {:controller => 'blitzes', :action => 'index'}
            %li= link_to "Leaders", {:controller => 'leaders', :action => 'index'}
            -# if current_user && (current_page?(:controller => 'account', :action => 'index') || current_page?(:controller => 'profiles', :action => 'view', :permalink => "#{h current_user.login}"))
              -#%li.active<
                -#= link_to "You",  profile_path(current_user.login), {:title => "Your account", :class=>'rounded'}
            -# else
              -# if current_user
                -#%li.normal<
                  -#= link_to "You", profile_path(current_user.login), {:title => "Your account", :class=>'rounded'}
            - if current_user
              %li= link_to "You", profile_path(current_user.login)

            -#= pluralize User.logged_in.count, "user" currently logged in
          .prepend-top.flr#login{:style => "position:relative; top: 4px"}
            - if !current_user
              = link_to "Register", new_account_path
              |
              = link_to "Log In", login_path
            - else
              = link_to "Logout", user_session_path, :method => :delete, :style => "position: relative; top: 0px"
          - if (flash[:notice] or flash[:warning] or flash[:error])
            .span-14.pull-3= flash_messages
      .span-24.last#content
        = yield
      .span-24.last#footer
        &nbsp;
    - if Rails.env.production?
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-493923-11");
      pageTracker._trackPageview();
      } catch(err) {} </script>

